.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* preview area */

.preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 48px;
  overflow: hidden;
  background: var(--color-a2);
  border-radius: var(--radius-medium);
  transition: background 0.2s ease;

  &[data-playing] {
    background: var(--color-a3);
  }
}

.canvas {
  --vis-color-low: var(--color-7);
  --vis-color-mid: var(--color-9);
  --vis-color-high: var(--color-11);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: white;
  cursor: pointer;
  background: var(--color-a8);
  border: none;
  border-radius: 999px;
  backdrop-filter: blur(8px);
  transition:
    transform 0.15s ease,
    background 0.15s ease;

  &:hover {
    background: var(--color-a10);
    transform: scale(1.08);
  }

  &:active {
    transform: scale(0.95);
  }

  &[data-playing] {
    background: var(--color-a10);
  }
}

/* Footer */

.footer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .name {
    color: var(--ds-gray-12);
    text-transform: capitalize;
    @typography 12, 550;
  }

  .author {
    color: var(--ds-gray-10);
    text-transform: capitalize;
    @typography 12;
  }
}

.button {
  flex-shrink: 0;
  padding: 4px 12px;
  color: var(--ds-gray-12);
  text-decoration: none;
  border-radius: 8px;
  box-shadow: var(--shadow-2);
  transition: all 0.2s ease;

  @typography 13, 550;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    transform: translateY(1px);
  }
}
